@font-face {
    font-family: 'JetBrains Mono';
    src: url(/assets/fonts/Jetbrainsmonoregular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url(/assets/fonts/Jetbrainsmonomedium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url(/assets/fonts/Jetbrainsmonobold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url(/assets/fonts/Jetbrainsmonoextrabold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
}